.how-it-works-container {
    padding-block: 60px 80px;
    text-align: center;
    z-index: 1;
    position: relative;
}

.how-it-works-title {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    margin: 0 0 24px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.how-it-works-description {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.6;
    max-width: 800px;
    margin-inline: auto;
    margin-bottom: 1rem;
}

.how-it-works-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 40px;
    border-top: .5px solid var(--border-light-white);
}

.step-card {
    padding: 30px 20px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.step-card:nth-child(2) {
    border-left: 1px solid var(--border-light-white);
    border-right: 1px solid var(--border-light-white);
}

.step-icon {
    font-size: var(--h1-font-size);
    color: rgba(255, 255, 255, 0.8);
}

.step-content {
    text-align: left;
}

.step-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: var(--light-cyan);
}

.step-description {
    font-size: 1rem;
    color: white;
    line-height: 1.5;
}

/* CTA Button */
.how-it-works-cta button {
    flex: 1;
    padding: 14px 20px;
    background-color: rgba(102, 126, 234, 0.2);
    border: 1px solid rgba(102, 126, 234, 0.4);
    border-radius: 12px;
    color: white;
    font-size: var(--normal-font-size);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    transition: all 0.3s;
    backdrop-filter: blur(10px);
    margin-inline: auto;
}

.how-it-works-cta .icon {
    font-size: var(--h4-font-size);
    transition: transform 0.3s ease;
}

.how-it-works-cta button:hover {
    background-color: rgba(102, 126, 234, 0.4);
}

/* Responsive */
@media (max-width: 768px) {
    .how-it-works-title {
        font-size: 2.5rem;
    }

    .how-it-works-description {
        font-size: 1.1rem;
    }

    .how-it-works-steps {
        flex-direction: column;
        align-items: center;
    }

    .step-card {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .how-it-works-title {
        font-size: 2rem;
    }

    .how-it-works-description {
        font-size: 1rem;
    }
}
