/* General Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    padding-block: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-container {
}

.header-logo {
    transition: transform 0.3s ease;
    height: 40px;
    z-index: 1009;
}

.header-logo:hover {
    transform: scale(1.02);
}

/* Navigation */
.nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    transition: right 0.3s ease;
}

.nav-link {
    color: #e5e7eb;
    text-decoration: none;
    font-size: var(--normal-font-size);
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    padding: 0.5rem 0;
    cursor: pointer;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #22d3ee;
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: #22d3ee;
}

.nav-link:hover::after {
    width: 100%;
}

/* Mobile Menu Button */
.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    transition: transform 0.3s ease;
}

.mobile-menu-button:hover {
    transform: scale(1.1);
}

.header-login-button {
    background-color: white;
    color: var(--first-color);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-size: var(--normal-font-size);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-login-button:hover {
    background-color: #F2F2F2;
    transform: scale(1.1);
}

/* Responsive (Mobile) */
@media (max-width: 768px) {
    .header-container {
        padding-block: 1rem !important;
    }

    .mobile-menu-button {
        display: block;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        background: rgba(30, 58, 138, 0.98);
        height: 100vh;
        width: 75%;
        max-width: 300px;
        padding: 2rem;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
        z-index: 1002;
    }

    .nav.open {
        right: 0;
    }

    .nav-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        padding: 1rem 0;
    }

    .close-button {
        display: block;
        align-self: flex-end;
        background: none;
        border: none;
        color: white;
        margin-bottom: 2rem;
        cursor: pointer;
    }
}
