.vwb-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
    background: linear-gradient(to bottom right, #1a2d66, #213A80, #162551);
    inset: 0;
    contain: layout paint; /* important: isolate layout & paint */
    will-change: transform; /* hint GPU to optimize */
}

.vwb-svg {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 768px) {
    .vwb-svg {
        filter: none !important;
        opacity: 0.4;
        display: none
    }
}
