
/* -------------------- VARIABLES CSS -------------------- */
:root {

    --header-top: 7.5rem;
    --header-height: 4.7rem;
    --breadcrumb-height: 6rem;

    --max-width-container: 1400px;

    /* ---- Colors ---- */
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #213A80;
    --first-color-light: #2C4486;
    --first-color-lighter: #425893;
    --first-color-lighten: #4D6199;
    --first-color-lightener: #E7EFF0;
    --first-color-dark: #14234D;
    --first-color-darker: #122046;

    /* ---- Font and typography ---- */
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Roboto";
    --title-font: '';
    --subtitle-font: '';
    --big-font-size: 2.5rem;
    --biggest-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1.2rem;
    --h4-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*= ---- Font weight ---- */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*= ---- icon ---- */
    --header-icon-size: 1.5rem;
    --icon-size: 1.50rem;

    /* ---- z index ---- */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* ---- Line Height ---- */
    --line-height: 1.9rem;

}

@media screen and (min-width: 800px) {
    :root {
        --header-top: 3.5rem;
    }
}


@media screen and (min-width: 768px) {
    :root {
        --header-height: 7rem;
    }

    :root {
        --normal-font-size: 1.1rem;
        --line-height: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --big-font-size: 4rem;
        --biggest-font-size: 5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.7rem;

        --h3-font-size: 1.5rem;
        --h4-font-size: 1.3rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;

        /* icon */
        --header-icon-size: 1.7rem;
        --icon-size: 1.5rem;

        /* line-height-height */
        --line-height: 3rem;
    }
}

/* --------------------BASE -------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--normal-font-size);
    color: var(--first-color);
    font-family: var(--body-font), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    transition: background 0.4s;
}

input, button {
    font-family: var(--body-font), sans-serif;
    outline: none;
    border: none;
}

form input,
form textarea {
    color: var(--first-color);
}

form input::placeholder,
form textarea::placeholder {
    color: var(--first-color-lighten);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*
p {
    line-height: 1.5rem;
}
 */

/* -------------------- REUSABLE CSS CLASSES -------------------- */
.container {
    max-width: var(--max-width-container);
    margin-inline: 1rem;

}

.grid {
    display: grid;

}

.section {
    padding-block: 3.2rem 2rem;
}

.swiper-container .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    align-items: center;
    margin-bottom: 1.5rem;
}

.section_subtitle {
    display: block;
    font-size: var(--h2-font-size);
    color: var(--first-color);
}



.main {
    /*margin-top:  var(--header-height);*/
    margin-top: calc(var(--header-top) + var(--header-height));
}

/* BUTTON -------- */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    border: none;
    outline: none;
    box-shadow: 0 4px 20px hsla(180 0.6% 66.9% / 0.38);
    padding: .5rem .9rem;
    font-size: 1.25rem;
    background-color: var(--first-color);
    color: white;
    border-radius: 10px;
    font-weight: var(--font-medium);
    transition: all .3s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--first-color-light);
}

.button-icon {
    font-size: var(--normal-font-size);
}


@media screen and (min-width: 768px){
    .button {
        padding: .7rem 1.5rem;
        font-size: 1.30rem;
    }
}

/* SCROLL BAR ---------------------------------------- */
::-webkit-scrollbar {
    width: .5rem;
    background-color: var(--first-color-lightener);
}

::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--first-color-lighten);
}

/* ---- BREAKPOINTS ---- */
/* FOR SMALL DEVICES */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }
}

/* ---- For large devices ---- */
@media screen and (min-width: 768px) {
    .section {
        padding-block: 6rem 3rem;
    }

    .swiper-container .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
    }

    .section-title {
        margin-bottom: 1.9rem;
    }
}

@media screen and (min-width: 1024px){
    .container {
        margin-inline: auto;
        padding-inline: 1.5rem;
    }
}